@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.topNavActionsSlot {
  display: flex;
  align-items: center;

  > a {
    color: #000;
    text-decoration: none;
    margin: 0 layout.$spacing-04;
  }
}

.headerGlobalBarButton {
  @include brand-02(background-color);
}

.topNavHeader {
  top: var(--omrs-offline-banner-height);
  background-color: white;
}

.activePanel {
  background-color: white;
  &:hover .navBarButtonIcon {
    background-color: #ddd;
  }
  &:hover {
    background-color: white;
  }
}

.headerMenuButton {
  height: layout.$spacing-09;
  width: layout.$spacing-09;
  padding: layout.$spacing-04;
  margin-right: layout.$spacing-02;
}

.spacedLogo {
  display: flex;
  align-items: center;
  height: 100%;
}

.navBarButtonIcon {
  padding: 10%;
  background-color: #eee;
  * {
    fill: black;
  }
}
