@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.topNavActionsSlot {
  display: flex;
  align-items: center;

  > a {
    color: #000;
    text-decoration: none;
    margin: 0 layout.$spacing-04;
  }
}

.headerGlobalBarButton {
  @include brand-02(background-color);
}

.topNavHeader {
  top: var(--omrs-offline-banner-height);
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.activePanel {
  background-color: white;
  &:hover .navBarButtonIcon {
    background-color: #ddd;
  }
  &:hover {
    background-color: white;
  }
  // added because topNavHeader border is applied to two elements resulting to 2px border excluding activePacnel
  border-bottom: 1px solid #ddd;
}

.headerMenuButton {
  height: layout.$spacing-09;
  width: layout.$spacing-09;
  padding: layout.$spacing-04;
  margin-inline-end: layout.$spacing-02;
}

.spacedLogo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 20px;
  // margin-inline-start: layout.$spacing-05;
}

.navBarButtonIcon {
  padding: 10%;
  background-color: #eee;
  * {
    fill: black;
  }
}

.headerMenuButton {
  * {
    fill: black;
  }
}

.hospitalLogoContainer {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 50px;
}

.appSwitcher {
  left: 20px;
}

.divider {
  width: 1px;
  height: layout.$spacing-06;
  background-color: rgba(244, 244, 244, 0.4);
  margin-inline-start: layout.$spacing-04;
}
