@use '@carbon/styles/scss/spacing';
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/spacing' as *;
@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.locationPickerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: $spacing-06;
}

.locationCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  // background-color: $ui-02;
  margin: 0;
}

.welcomeTitle {
  @include type-style('heading-03');
  font-weight: 600;
  text-align: center;
  padding-bottom: $spacing-01;

  & span {
    text-transform: capitalize;
  }
}

.welcomeMessage {
  @include type-style('body-01');
  text-align: center;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: spacing.$spacing-05 0px;

  .savePreferenceCheckbox {
    padding-top: spacing.$spacing-05 !important;
  }

  .confirmButton {
    background-color: #1062fe;
    width: 100%;
    max-width: 100%;
  }
}

.cancelButton {
  margin-top: spacing.$spacing-02;
}

.loadingContainer {
  margin-top: spacing.$spacing-06;
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: spacing.$spacing-06 auto 0rem;
}

.loader {
  min-height: fit-content;
}

.errorNotification {
  margin-inline-start: -1.5rem;
  margin-inline-end: -1.5rem;
}
